body{
    background-color: black;
}

.card{
    padding: 37px;
    display: flex;
     background-color: rgba(211, 69, 26, 0.808);
     width: 300px;
     height: 350px;
     float: left;
     margin: 20px;
     background: linear-gradient(to right top,rgb(83, 184, 12),rgb(4, 202, 198),rgb(12, 63, 7));
     border-radius: 30px 30px 30px 30px;
     
}

img{
    width: 300px;
    height: auto;
}
