strong{
    color: rgb(237, 255, 42);
}

  

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(101, 192, 55) 50%, rgb(5, 122, 15) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}





@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
  
  h1, p {
    font-family: "dosis", sans-serif;
    margin: 0 5% 1rem;
    color: rgb(0, 3, 5);
  }
  
  h1 {
    font-weight: 600;
    font-size: 5rem;
    max-width: 100%;
    padding: 200px;
  }
  
  p {
    font-size: 1.5rem;
    border-radius: 30px 30px 30px 30px;
    max-width: max-content;
    padding:70px;
    font-style: oblique;
    font-weight: 600;
  }
  

